# Compilados / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
dependency-reduced-pom.xml

# Archivos Java
*.class
*.log
hs_err_pid*
replay_pid*

# IDEs
# NetBeans
nb-configuration.xml
nbactions.xml
nbactions-*.xml

# IntelliJ
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# SO / Varios
.DS_Store
Thumbs.db

# Artefactos
*.jar
*.war
*.zip
